@use "./../../styles/util/colors" as c;

.main {
  padding: 12px 42px;

  .interactions {
    // padding: 24px 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .left {
      display: flex;
      gap: 18px;
      button {
        background: transparent;
        border: 0;
        color: c.$text1;

        &[data-active="true"] {
          color: c.$text2 !important;
          border-bottom: 2px solid c.$text2;
          font-weight: 600;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .right {
      button {
        display: flex;
        align-items: center;
        gap: 8px;
        color: c.$text1;
        background: transparent;
        border: 0;
        &:hover {
          cursor: pointer;
        }
      }

      &:focus-within .filterBox,
      button:focus + .filterBox {
        display: unset;
      }

      .filterBox {
        position: absolute;
        right: 0;
        top: 68%;
        z-index: 1;
        width: 200px;
        border-radius: 12px;
        background: c.$dark1;
        padding: 24px;
        color: c.$text1;
        display: none;

        hr {
          margin: 12px 0;
          height: 1px;
          background: c.$text1;
        }

        .filterOption {
          select {
            background: c.$background;
            width: 100%;
            text-align: left;
            padding: 8px 12px;
            color: c.$text1;
            border: 0;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:hover {
              cursor: pointer;
            }
          }

          &:last-child {
            margin-top: 12px;
          }
        }
      }
    }
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100% - 60px);
    overflow-y: scroll;
  }
}
